<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insurance Pay</title>
</head>

<body>
    <app-header></app-header>
    <div class="parallax-container">

        <div class="parallax"><img src="../assets/img/homem-branco-carro.jpg"></div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12 offset-s4"><span class="flow-text">Vehicle Section</span></div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="vehicle_brand" type="text" class="validate"
                            [(ngModel)]="vehicle.brand" [ngModelOptions]="{standalone: true}">
                            <label for="vehicle_brand">Vehicle Brand</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="vehicle_model" type="text" class="validate"
                            [(ngModel)]="vehicle.model" [ngModelOptions]="{standalone: true}">
                            <label for="vehicle_model">Vehicle Model</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="vehicle_fabrication_date" type="text" class="datepicker"
                             (focus)="openDatePicker($event)">
                            <label for="vehicle_fabrication_date">Vehicle Fabrication Date</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="vehicle_model_year" type="number" class="validate" 
                            [(ngModel)]="vehicle.modelYear" [ngModelOptions]="{standalone: true}">
                            <label for="vehicle_model_year">Vehicle Model Year</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn-large" (click)="loadOffers()"><i class="material-icons left">cloud</i>Search Offers</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="../assets/img/mulher-indiana-carro.jpg"></div>
    </div>
    <div class="quotations section white">
        <div class="container">
            <div class="row">
                <div class="col s12 offset-s4"><span class="flow-text">Choose a Insurance Company</span></div>
            </div>
            <div class="row">
                <form class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th>Insurance Company</th>
                                <th>CNPJ</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let offer of insuranceCompanyOffers">
                                <td>{{offer.fantasyName}}</td>
                                <td>{{offer.cnpj}}</td>
                                <td>{{offer.email}}</td>
                                <td>{{offer.phone}}</td>
                                <td>{{offer.vehicleQuotations[0].price}}</td>
                                <td><a class="waves-effect waves-light btn">Pay</a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>